@attribute [Route(Routes.Login)]

@inherits StateComponent

@inject IAuthenticationService _authenticationService

<h1>Login</h1>

@if (StartupState.Loading)
{
	<MudProgressCircular Size="Size.Large" Class="ma-auto" Indeterminate />
}
else if (StartupState.Loaded)
{
	<ul>
		@foreach (var provider in StartupState.Data.EnabledAuthProviders)
		{
			@*TODO: Icons/images etc*@
			<li><a data-testid="@($"{DataTestIds.LoginWithProvider}{provider}")" href="@($"{_authenticationService.BffRoot}/account/login/{provider}")">Login with @provider</a></li>
		}
	</ul>
}